click==8.1.8
dynaconf==3.2.10
matplotlib==3.10.1
numpy==2.2.4
pandas==2.2.3
pillow==11.1.0
pycocotools==2.0.8
PyYAML==6.0.2
seaborn==0.13.2
setuptools==68.1.2
torch==2.6.0+cu126
torchaudio==2.6.0+cu126
torchmetrics==1.7.0
torchvision==0.21.0+cu126
tqdm==4.67.1
tensorboard==2.19.0
